################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/Components/LiveSplit.TheBridge.exe
/obj
/LiveSplit.TheBridge.csproj.user
